/.venv
/venv
/.venv38
/.venv39
/.venv310
/dist
/htmlcov
/build
/_build
/hooks
/.idea
/.git
/.mypy_cache
*/.mypy_cache/
/.ruff_cache/
/.pytest_cache
/.tox
/__pycache__
*/__pycache__
*.egg-info
*.pyc
.coverage
*.png
*.svg
Dockerfile
.dockerignore
snyk-linux

