include *.txt *.md
include pyproject.toml
include poetry.lock
include Makefile
include MANIFEST.in
include hooks/*
include pyshacl/assets/*.pickle
include pyshacl/*.spec
include test/*.py
include test/issues/*.py
recursive-include test/resources *.ttl *.js
recursive-include docs *.txt *.md
